* {
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: var(--color-text);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  padding: 0;
  margin: 0;
}

a, a:hover, a:focus, a:active {
  color: var(--color-text);
  text-decoration: none !important;
  outline: none;
}

button {
  outline: none;
}

input {
  text-decoration: none;
  outline: none;
}

ul li {
  list-style-type: none;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-main);
}

.header__top {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__details {
  display: flex;
  align-items: center;
}
.header__contacts {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.header__contacts .fa {
  font-size: 22px;
  margin-right: 15px;
  color: var(--color-main);
}
.header__contacts p {
  opacity: 0.8;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 0;
}
.header__contacts a {
  font-weight: 600;
  font-size: 20px;
  color: var(--color-text);
}
.header__contacts a:hover {
  color: var(--color-text);
}
.header .logo img {
  display: inline-flex;
  width: 120px;
  height: auto;
  object-fit: contain;
}
.header__bottom {
  position: relative;
  background-color: #f8f8f8;
  box-shadow: inset 0 1px 0 0 rgb(238, 238, 238), inset 0px -1px 0px 0px rgb(238, 238, 238);
}
.header__bottom::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}
.header__bottom::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}
.header__menu {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  position: relative;
}
.header__menu-item:first-child {
  margin-left: -25px;
}
.header__menu-link {
  position: relative;
  color: var(--color-text) !important;
  margin: 30px 25px;
  display: inline-flex;
  transition: 0.3s all ease;
  font-weight: 500;
}
.header__menu-link::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  top: calc(100% + 5px);
  left: 0;
  background-color: var(--color-text);
  transition: 0.3s all ease;
}
.header__menu-link:hover {
  color: var(--color-text) !important;
}
.header__menu-link:hover::before {
  width: 100%;
}

.btn-main {
  display: inline-flex;
  padding: 10px 25px;
  border-radius: 6px;
  background-color: var(--color-main);
  color: white !important;
  transition: 0.3s all ease;
  border: 1px solid transparent;
}
.btn-main:hover {
  border-color: var(--color-main);
  background-color: white;
  color: var(--color-main) !important;
  transform: scale(1.05);
}
.btn-main:active {
  transform: scale(0.95);
}

.main__banner {
  margin-top: 30px;
  border-radius: 16px;
  overflow-x: hidden;
}
.main__slider {
  transition: 0.3s all ease;
}
.main__slider:hover .splide__arrow {
  transition: 0.5s all ease !important;
}
.main__slider:hover .splide__arrow--prev {
  left: 1em;
  transition: 0.5s all ease;
}
.main__slider:hover .splide__arrow--next {
  right: 1em;
  transition: 0.5s all ease;
}
.main__slider-item {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  overflow-x: hidden;
}
.main__slider-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
.main__slider .splide__arrow {
  background-color: white;
  opacity: 1;
  width: 50px;
  height: 50px;
  transition: 0.5s all ease;
}
.main__slider .splide__arrow--prev {
  left: -100px;
  transition: 0.5s all ease;
}
.main__slider .splide__arrow--next {
  right: -100px;
  transition: 0.5s all ease;
}
.main__slider .splide__arrow:hover {
  background-color: var(--color-main);
}
.main__slider .splide__arrow:hover svg {
  fill: white;
}
.main__slider .splide__arrow svg {
  fill: var(--color-main);
}
.main__slider .splide__pagination__page {
  border: 1px solid white;
  background-color: transparent;
  margin: 7px;
  opacity: 1;
}
.main__slider .splide__pagination__page.is-active {
  background-color: white;
}
.main__slider-content {
  padding: 5rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  min-height: 475px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.main__slider-content .hero-text {
  color: white;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

.section {
  padding: 70px 0;
}
.section__title {
  font-size: 56px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 3px;
}
.section__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  color: rgb(50, 50, 50);
}
.section__body {
  margin-top: 50px;
}

.product__category {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.product__category-item {
  padding: 20px;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.product__category-photo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.product__category-photo img {
  position: relative;
  z-index: 1;
  width: 180px;
  height: auto;
  object-fit: contain;
}
.product__category-content {
  min-width: 150px;
}
.product__category-content h4 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

:root {
  --color-main: #340c6f;
  --color-secondary: #0089e1;
  --color-bg: #e8eef6;
  --color-border: #eeeeee;
  --color-text: #323232;
}

@media (min-width: 1450px) {
  .container {
    max-width: 1320px !important;
  }
}
@keyframes topToBottom {
  0% {
    margin-top: -50px;
  }
  50% {
    margin-top: 50px;
  }
  100% {
    margin-top: -50px;
  }
}
@keyframes bottomToTop {
  0% {
    margin-top: 50px;
  }
  50% {
    margin-top: -50px;
  }
  100% {
    margin-top: 50px;
  }
}
@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/*# sourceMappingURL=main.css.map */
