.header {

  &__top {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    img {
      display: inline-flex;
      width: 120px;
      height: auto;
      object-fit: contain;
    }
  }
}