* {
  box-sizing: border-box;

}

html {
  width: 100%;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: var(--color-text);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  padding: 0;
  margin: 0;

}

a, a:hover, a:focus, a:active {
  color: var(--color-text);
  text-decoration: none !important;
  outline: none;
}

button {
  outline: none;
}

input {
  text-decoration: none;
  outline: none;
}

ul li {
  list-style-type: none;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-main);
}
