@media (min-width: 1450px) {
  .container {
    max-width: 1320px !important;
  }
}

@media (max-width: 1450px) {
  .card {
    padding: 20px;
  }

  .popular-goods {
    grid-gap: 20px;
  }

  .questions__column {
    .section__title {
      font-size: 42px;
    }
  }

}

@media (max-width: 1200px) {
  .section {
    &__top {

    }

    &__title {
      font-size: 42px;
    }

    &__subtitle {
      margin-top: 10px;
    }
  }

  .card {
    &__content {
      h4 {
        font-size: 16px;
      }

      p {
        b {
          font-size: 22px;
        }
      }
    }
  }

  .questions__column {
    .section__title {
      font-size: 36px;
    }
  }

  .blog {
    &__item {
      flex-direction: column;

      &-photo {
        width: 100%;
      }
    }
  }

}

@media (max-width: 991px) {

  .main__slider {
    &-content {
      padding: 4rem;
      min-height: 380px;

      .hero-text {
        font-size: 32px;
      }
    }

    &:hover {
      .splide__arrow {
        width: 40px;
        height: 40px;

        &--next {
          right: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &--prev {
          left: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

    }
  }

  .section {
    padding: 70px 0;

    &__body {
      margin-top: 50px;
    }
  }

  .product__category {
    grid-template-columns: 1fr 1fr;
  }

  .popular-goods {
    grid-template-columns: 1fr 1fr;
  }

  .card {

  }

  .promotion {
    &__item {
      min-height: 300px;

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  .advantages__body {
    grid-template-columns: 1fr;
  }

  .questions {
    .form-control {
      font-size: 16px;
    }

    .btn-white {
      padding: 10px 30px;
    }
  }

  .feedback {
    &__body {
      grid-template-columns: 1fr 1fr;
    }

    &__item {

      &-content {
        min-height: 200px;
      }
    }
  }

}

@media (max-width: 768px) {
  .header {

    &__top {
      padding: 15px 0;
    }

    &__details {

      .btn-main {
        display: none;
      }
    }

    &__bottom {
      display: none;
    }

    &__contacts {
      margin-right: 0;
    }
  }

  .hamburger-menu {
    display: flex;
  }

  .main__banner {
    margin-top: 30px;
  }

  .main__slider {
    &-content {
      min-height: 300px;

      .hero-text {
        font-size: 26px;
      }
    }
  }

  .section {
    padding: 50px 0;

    &__title {
      font-size: 36px;
    }

  }

  .promotion {

    &__body {
      grid-template-columns: 1fr;
    }

    &__item {
      min-height: 300px;

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  .questions {
    &__body {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }

    &__column {
      .btn-white {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .feedback {
    &__body {
      grid-template-columns: 1fr;
    }

    &__item {

      &-content {
        min-height: unset;
      }
    }
  }

  .blog {
    &__body {
      grid-gap: 30px;
    }

    &__item {
      &-photo {
        height: 180px;
        min-width: unset;

        img {

        }
      }

      &-title {
        font-size: 20px;
      }

    }
  }

  .footer {

    &__top {
      gap: 30px;
      padding: 50px 0 30px;
    }

    &__column {
      min-width: 100%;
    }

    &__item {
      &-title {
        font-size: 14px;
      }

      &-text {
        font-size: 16px;
      }
    }
  }


}

@media (max-width: 650px) {
  .container {
    padding: 0 20px !important;
  }

  .main__slider {
    &-content {
      min-height: 250px;
      padding: 3rem;

      .hero-text {
        font-size: 24px;
      }
    }
  }

  .product__category {
    grid-gap: 20px;

    &-photo {
      img {
        width: 150px;
      }
    }
  }

  .section {
    &__body {
      margin-top: 30px;
    }
  }

  .advantages {

    &__grid {
      grid-gap: 20px;
    }

    &__item {
      &-title {
        font-size: 18px;
      }
    }
  }

}

@media (max-width: 500px) {

  .header {
    .logo {
      img {
        width: 100px;
      }
    }
  }

  .hamburger-menu {
    margin-left: 20px;
  }

  .section {

    &__title {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 15px;
      line-height: 1.4;
    }
  }

  .product__category {

    &-photo {
      img {
        width: 120px;
      }
    }

    &-content h4 {
      font-size: 16px;
      line-height: 1.4;
    }
  }

  .blog {
    &__body {
      grid-gap: 20px;
    }

    &__item {
      &-photo {
        height: 150px;

        img {

        }
      }
    }
  }

}

@media (max-width: 450px) {

  .section {
    &__title {
      text-align: center;
    }

    &__subtitle {
      text-align: center;
      font-size: 14px;
    }
  }

  .main__slider {
    margin-bottom: 10px;
  }

  .product__category {
    grid-template-columns: 1fr;

    &-item {
      margin-left: auto;
      margin-right: auto;
    }

    &-photo {
      img {
        max-width: 150px;
        width: 100%;
      }
    }
  }

  .popular-goods {
    grid-template-columns: 1fr;

    .card {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .advantages {

    &__body {
      margin-top: 50px;
    }

    &__grid {
      grid-template-columns: 1fr;
    }

    &__item {
      text-align: center;

      &-icon {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
      }

      &-title {

      }
    }
  }

  .questions__body {
    padding: 30px;

    .section__title {
      font-size: 26px;
    }

  }

  .feedback__item {

    &-content {
      padding: 20px;
    }

    &-author {
      font-size: 18px;
    }
  }

  .blog {
    &__body {
      grid-template-columns: 1fr;
    }

    &__item {
      gap: 15px;

      &-title {
        font-size: 18px;
      }

      &-photo {
        height: unset;

        img {
          object-fit: contain;
        }
      }
    }
  }

}

@media (max-width: 380px) {

  .section {
    padding: 30px 0;

    &__title {
      font-size: 24px;
    }

  }


  .header {
    &__contacts {
      display: none;
    }
  }
}


